.just-top-menu-bar {
    flex: 0 0 46px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #3c3f41;
    border-bottom: 1px solid #1e1f22;
}

.just-top-menu-bar .just-menu-center {
    flex: 1;
}

.just-top-menu-bar .just-icon-system {
    flex: 0 0 46px;
    width: 50px;
    color: white;
}

.just-top-menu-bar .just-icon-system svg {
    width: 46px;
    height: 16px;
}


.just-app-icon {
    padding: 0 5px 0 5px;
    width: 24px;
    height: 24px;
}

.just-app-icon svg { width: 100%; height: 100%; }

