.just-layout {
    width: 100%;
    height: 100%;
}

.just-win {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.just-win .just-win-title {
    cursor: move;
    box-sizing: border-box;
}

.just-win .just-win-body {
    flex: 1;
}

.just-layout .just-column { display: flex; flex-direction: column; width: 100%; height: 100%; }
.just-layout .just-row { display: flex; flex-direction: row; width: 100%; height: 100%; }
.just-layout .just-first { display: flex;}
.just-layout .just-second { display: flex; flex: 1;}
.just-layout .just-splitter {
    flex: 0 0 4px;
    border: 1px solid gray;
    box-sizing: border-box;
}

.just-row .just-splitter { cursor: ew-resize;}
.just-column .just-splitter { cursor: ns-resize; }

.dragging {
    cursor: move;
    border: 1px dashed gray;
    box-sizing: border-box;
    /*padding: 0.5rem;*/
    /*margin: '0.5rem',*/
}