@font-face {
    font-family: 'JetBrains Mono';
    src: url('./assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-style: normal;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'JetBrains Mono', monospace;
    /*font-size: 12px;*/
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
}
:root {

}

